{% extends 'base.html' %}
{% load static %}
{% load website_extras %}

{% block title %}
    <title>Articles | Kelvin Projects</title>
{% endblock %}

{% block seo %}
    <meta property="og:title" content="Articles Page"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Kelvin Projects articles posts"/>
    <meta property="og:locale" content="en_US"/>
{% endblock %}

{% block content %}
    <div class="">
        <div class="min-h-[400px] lg:min-h-[500px] bg-tertiary dark:bg-black/50 mb-16">
            <div class="wrapper">
                <div class="container mx-auto grid place-content-center min-h-[400px] lg:min-h-[500px] text-center">
                    <div class="text-4xl lg:text-5xl font-extrabold text-prussianBlue dark:text-stone-300">
                        Article
                    </div>
                    <p class="max-w-lg mx-auto text-lg md:text-xl md:font-medium pt-4 mb-6 px-2 md:px-0">Article posts
                        on how to build real
                        world applications with different languages and frameworks</p>
                    <img src="{% static 'images/article-hex.png' %}" alt="" class="aspect-square max-w-[150px] mx-auto">
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container mx-auto flex flex-col gap-y-16 xl:gap-y-28 mt-2 mb-10 md:mb-16">
                <div class="grid grid-flow-row grid-cols-1 md:grid-cols-3 gap-4">
                    {% if articles %}
                        {% for article in articles %}
                            {% include 'website/article/article-card-series.html' with article=article %}
                        {% endfor %}

                    {% endif %}
                </div>
                <div class="grid gap-y-16 xl:gap-y-28">
                    {% if langs %}
                        {% for language, items in langs %}
                            {% if items.count > 0 %}
                                {% if language.title == 'swift' %}
                                    <div>
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-2.5 gap-y-1">
                                            <div class="grid pb-6 place-content-center text-center text-stone-800 dark:text-stone-300 font-pro">
                                                <div class="text-2xl lg:text-3xl font-bold">Swift
                                                    Articles
                                                </div>
                                                <p class="py-2 max-w-md md:text-lg">{{ language.summary }}</p>
                                            </div>
                                            {% for item in items %}
                                                {% if item.published %}
                                                    {% if forloop.counter > 3 %}
                                                        {% include 'website/article/article-card-big.html' with data=item %}
                                                    {% else %}
                                                        {% include 'website/article/article-card-small.html' with data=item %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="w-full text-right mt-2">
                                            <a href="{{ language.get_absolute_url }}" class="text-sm text-emerald-500">view
                                                more</a>
                                        </div>
                                    </div>

                                {% elif language.title == 'python' %}
                                    <div>
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-2.5 gap-y-1">
                                            {% for item in items %}
                                                {% if item.published %}
                                                    {% if forloop.counter == 1 %}
                                                        <div class="md:hidden grid pb-6 place-content-center text-center text-stone-800 dark:text-stone-300 font-pro">
                                                            <div class="text-2xl lg:text-3xl font-bold tracking-wide">
                                                                Python Articles
                                                            </div>
                                                            <p class="py-2 max-w-md md:text-lg">{{ language.summary|capfirst }}</p>
                                                        </div>
                                                        {% include 'website/article/article-card-small.html' with data=item %}
                                                        <div class="hidden md:grid pb-6 place-content-center text-center text-stone-800 dark:text-stone-300 font-pro">
                                                            <div class="text-2xl lg:text-3xl font-bold tracking-wide">
                                                                Python Articles
                                                            </div>
                                                            <p class="py-2 max-w-md md:text-lg">{{ language.summary|capfirst }}</p>
                                                        </div>
                                                    {% else %}
                                                        {% if forloop.counter > 3 %}
                                                            {% include 'website/article/article-card-big.html' with data=item %}
                                                        {% else %}
                                                            {% include 'website/article/article-card-small.html' with data=item %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="w-full text-right mt-2">
                                            <a href="{{ language.get_absolute_url }}" class="text-sm text-emerald-500">view
                                                more</a>
                                        </div>
                                    </div>

                                {% else %}
                                    <div>
                                        <div class="grid place-content-center text-center pb-6 text-stone-800 dark:text-stone-300 font-pro">
                                            <div class="text-2xl lg:text-3xl font-bold tracking-wide">{{ language.title|headline }}
                                                Articles
                                            </div>
                                            <p class="py-2 max-w-md md:text-lg">{{ language.summary|capfirst }}</p>
                                        </div>
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-2.5 gap-y-1">
                                            {% for item in items %}
                                                {% if item.published %}
                                                    {% if forloop.counter0 > 3 %}
                                                        {% include 'website/article/article-card-big.html' with data=item %}
                                                    {% else %}
                                                        {% include 'website/article/article-card-small.html' with data=item %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="w-full text-right mt-2">
                                            <a href="{{ language.get_absolute_url }}" class="text-sm text-emerald-500">view
                                                more</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}