{% extends 'base.html' %}
{% load website_extras %}

{% block title %}
    <title> Articles - {{ parent.title|capfirst }} | Kelvin Projects</title>
{% endblock %}

{% block seo %}
    {% include 'components/page-seo.html' with page=parent %}
{% endblock %}

{% block content %}
    <div class="wrapper font-ff">
        <div class="container mx-auto flex flex-col gap-y-8 md:gap-y-16 xl:gap-y-28 my-8">
            <div class="min-h-[400px] grid place-content-center border-b border-stone-400/10 dark:border-stone-500/20">
                <div class="text-center text-prussianBlue dark:text-color-light">
                    <div class="text-3xl md:text-4xl lg:text-4xl font-bold text-prussianBlue dark:text-stone-200 uppercase">
                        {% if parent.title == 'cpp' %}
                            C++
                        {% else %}
                            {{ parent.title|headline }}
                        {% endif %}
                    </div>
                    <p class="pt-4 pb-10 px-3 text-lg md:text-xl max-w-lg">{{ parent.summary|capfirst }}</p>
                </div>
                <div class="place-self-center">
                    <img src="{{ parent.image.url }}" alt="Article language image"
                         class="aspect-square max-h-[100px] max-w-[100px] md:max-h-[120px] md:max-w-[120px] mx-auto saturate-200">
                </div>
            </div>

            <div class="">
                {% if articles %}
                    <div class="pt-10 flex flex-col gapy-5 md:gap-y-10 divide-y-[1px] dark:divide-neutral-700/50">
                        {% for article in articles %}
                            {% include 'website/article/article-card.html' with article=article %}
                        {% endfor %}
                     </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}