{% extends 'base.html' %}
{% load static %}
{% load website_extras %}

{% block title %}
    <title>Articles | Kelvin Projects</title>
{% endblock %}

{% block seo %}
    <meta property="og:title" content="Articles Page"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Kelvin Projects articles posts"/>
    <meta property="og:locale" content="en_US"/>
{% endblock %}

{% block content %}
    <div class="">
        <div class="min-h-[400px] lg:min-h-[500px] bg-tertiary dark:bg-black/50 mb-16">
            <div class="wrapper">
                <div class="container mx-auto grid place-content-center min-h-[400px] lg:min-h-[500px] text-center">
                    <div class="text-4xl lg:text-5xl font-extrabold text-prussianBlue dark:text-stone-300">
                        Article
                    </div>
                    <p class="max-w-lg mx-auto text-lg md:text-xl md:font-medium pt-4 mb-6 px-2 md:px-0">Article posts
                        on how to build real
                        world applications with different languages and frameworks</p>
                    <img src="{% static 'images/article-hex.png' %}" alt=""
                         class="aspect-[16/9] max-h-[100px] max-w-[100px] md:max-h-[150px] md:max-w-[150px] mx-auto saturate-200">
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container mx-auto flex flex-col gap-y-16 xl:gap-y-28 mt-2 mb-10 md:mb-16">
                <div class="grid grid-flow-row grid-cols-1 md:grid-cols-3 gap-4">
                    {% if series %}
                        {% for article in series %}
                            {% include 'website/article/article-card-series.html' with article=article %}
                        {% endfor %}

                    {% endif %}
                </div>
                <div class="">
                    {% if articles %}
                        <div class="border-b dark:border-stone-500/50">
                            <div class="text-3xl font-bold pb-2">Articles</div>
                        </div>
                        <div class="pt-10 flex flex-col gapy-5 md:gap-y-10 divide-y-[1px] dark:divide-neutral-700/50">
                            {% for article in articles %}
                                {% include 'website/article/article-card.html' with article=article %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if page_obj %}
                        <div class="flex justify-between pt-10 md:pt-16">
                            <div class="flex gap-x-4 md:gap-x-6 items-center uppercase text-sm text-teal-500 hover:text-bitterSweet">
{#                            <div class="flex gap-x-4 md:gap-x-6 items-center uppercase text-sm text-prussianBlue dark:text-stone-400">#}
                                {% if page_obj.has_previous %}
                                    {% if paginator.num_pages > 2 %}
                                        <a class="flex items-center" href="?page=1">&langle; first</a>
                                    {% endif %}
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                            </div>
                            <div class="flex gap-x-4 md:gap-x-6 items-center uppercase text-sm text-teal-500 hover:text-bitterSweet">
{#                            <div class="flex gap-x-4 md:gap-x-6 items-center uppercase text-sm text-prussianBlue dark:text-stone-400">#}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    {% if paginator.num_pages > 2 %}
                                        <a class="flex items-center" href="?page={{ page_obj.paginator.num_pages }}">last &rangle;</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}