{% extends 'base.html' %}
{% load static %}

{% block seo %}
    <meta property="og:title" content="Index Page"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description"
          content="Kelvin Programming Projects and tutorials written in Swift, Python and C++"/>
    <meta property="og:locale" content="en_US"/>
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-y-10 md:gap-y-16">
        <div class="bg-top bg-cover" style="background-image: url({% static 'images/blur-bg2.jpg' %})">
             {% include 'website/components/hero.html' %}
        </div>
        <div class="wrapper">
            <div class="container mx-auto grid gap-y-10 md:gap-y-16 xl:gap-y-28 pt-2 pb-16">
                {% include 'website/article/recent-articles.html' with recents=articles recent=articles_big %}
                {% include 'website/learn/recent-learn.html' with python=python_lang swift=swift_langs %}
                {% include 'website/project/recent-projects.html' with projects=projects %}
            </div>
        </div>
    </div>
{% endblock %}