{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Learning | Kelvin Projects</title>
{% endblock %}

{% block seo %}
    <meta property="og:title" content="Learning tutorial page"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Kelvin Project learning tutorial posts"/>
    <meta property="og:locale" content="en_US"/>
{% endblock %}

{% block content %}
    <div>
        <div class="min-h-[400px] lg:min-h-[500px] bg-tertiary dark:bg-black/50">
            <div class="wrapper">
                <div class="container mx-auto grid place-content-center min-h-[400px] lg:min-h-[500px] text-center">
                    <div class="text-4xl lg:text-5xl font-extrabold text-prussianBlue dark:text-stone-300">Learning
                        Tutorials
                    </div>
                    <p class="max-w-lg mx-auto text-lg md:text-xl font-medium pt-4 mb-6 px-2 md:px-0">Learning tutorials
                        on how to build real
                        world applications with different languages and frameworks</p>
                    <img src="{% static 'images/learn-cube.png' %}" alt="" class="aspect-square max-w-[150px] mx-auto">
                </div>
            </div>
        </div>
        <div class="md:wrapper px-2 mt-10 md:mt-16">
            <div class="container mx-auto flex flex-col gap-y-16 xl:gap-y-28 mt-2 mb-16">
                {% if languages %}
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        {% for lang in languages %}
                            {% include 'website/learn/learn-langs-card.html' with  lang_series=lang %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if swift_langs %}
                    <div>
                        <div class="text-lg font-bold pb-2 pl-2 md:pl-0">
                            SWIFT TUTORIALS
                        </div>
                        <div class="grid gap-y-2 -mx-2 md:-mx-0">
                            {% for k, series_obj in swift_langs.items %}
                                <div>
                                    {% if k.published %}
                                        {% include 'website/learn/learn-card-swift.html' with lseries=series_obj series=k %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% if swift_langs.items|length > 1 %}
                            <div class="flex justify-end mt-1">
                                <a href="/learn/swift" class="text-sm text-emerald-500">view more</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}


                {% if python_lang %}
                    <div>
                        <div class="text-lg font-bold pb-2 pl-2 md:pl-0">
                            PYTHON TUTORIALS
                        </div>
                        <div class="grid gap-y-2 -mx-2 md:-mx-0">
                            {% for k, series_obj in python_lang.items %}
                                <div>
                                    {% if k.published %}
                                        {% if forloop.counter|divisibleby:2 %}
                                            {% include 'website/learn/learn-card-right.html' with lseries=series_obj series=k %}
                                        {% else %}
                                            {% include 'website/learn/learn-card-left.html' with lseries=series_obj  series=k %}
                                        {% endif %}

                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex justify-end mt-1">
                            <div class="flex justify-end">
                                <a href="/learn/python" class="text-sm text-emerald-500">view more</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if cpp_langs %}
                    <div>
                        <div class="text-lg font-bold pb-2 pl-2 md:pl-0">
                            C++ TUTORIALS
                        </div>
                        <div class="grid gap-y-2 -mx-2 md:-mx-0">
                            {% for k, series_obj in cpp_langs.items %}
                                <div>
                                    {% if k.published %}
                                        {% if forloop.counter|divisibleby:2 %}
                                            {% include 'website/learn/learn-card-right.html' with lseries=series_obj series=k %}
                                        {% else %}
                                            {% include 'website/learn/learn-card-left.html' with lseries=series_obj  series=k %}
                                        {% endif %}

                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex justify-end mt-1">
                            <div class="flex justify-end">
                                <a href="/learn/cpp" class="text-sm text-emerald-500">view more</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}