{% extends 'base.html' %}
{% load  static %}
{% load website_extras %}

{% block title %}
    <title> Learning - {{ parent.title|capfirst }} | Kelvin Projects</title>
{% endblock %}

{% block seo %}
    {% include 'components/page-seo.html' with page=parent %}
{% endblock %}


{% block content %}
    <div>
        <div class="relative min-h-[200px] md:min-h-[500px] bg-cover" style="background-image: url({% static "images/bg-blurred.jpg" %});">
            <div class="w-full min-h-full bg-tertiary/50 dark:bg-black/80">
            <div class="wrapper">
                <div class="
                    min-h-[200px] md:min-h-[500px]
                    container mx-auto
                    grid place-content-center py-8 md:pt-16 lg:pt-24
                    ">
                    <div class="grid place-content-center text-center">
                        <div class="text-3xl md:text-4xl lg:text-5xl font-bold text-prussianBlue dark:text-stone-200 font-pro">
                            {% if parent.title|lower == 'cpp' %}
                                C++
                            {% else %}
                                {{ parent.title|headline }}
                            {% endif %}
                        </div>
                        <p class="pt-4 pb-10 px-3 text-lg md:text-xl max-w-lg">
                            {{ parent.summary|capfirst }}
                        </p>
                    </div>
                    <div class="place-self-center">
                        {% if parent.title == 'swift' %}
                            <div class="
                            max-h-[200px] max-w-[300px] md:max-h-[400px] md:max-w-[700px]
                            min-h-[200px] min-w-[300px] md:min-h-[500px] md:min-w-[700px]
                            bg-swift-hero dark:bg-swift-hero-dark bg-contain bg-no-repeat"></div>
                        {% else %}
                            <img src="{{ parent.image.url }}" alt="" class="aspect-auto max-w-[220px] max-h-[200px]">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="wrapper">
            <div class="container mx-auto flex flex-col gap-y-8 md:gap-y-16 xl:gap-y-28 my-8">
                <div class="grid gap-y-4 md:gap-y-10 pt-10 lg:pt-16">
                    {% for k, lang_series in learn_series_list.items %}
                        {% if parent.learn_lang_slug == 'python' %}
                            {% if k.published %}
                                {% if forloop.counter|divisibleby:2 %}
                                    {% include 'website/learn/learn-card-left.html' with lseries=lang_series series=k %}
                                {% else %}
                                    {% include 'website/learn/learn-card-right.html' with lseries=lang_series series=k %}
                                {% endif %}
                            {% endif %}
                        {% elif parent.title == 'swift' %}
                            {% include 'website/learn/learn-card-swift.html' with lseries=lang_series series=k %}
                        {% else %}

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}