{% extends 'base.html' %}

{% block title %}
    <title>Projects | Kelvin Projects</title>
{% endblock %}

{% block seo %}
    <meta property="og:title" content="Projects Page"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Kelvin Programming Projects posts"/>
    <meta property="og:locale" content="en_US"/>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container mx-auto flex flex-col gap-y-8 md:gap-y-16 xl:gap-y-28 pt-2 pb-16">
            {% include 'website/project/project-hero.html' %}
            <div class="grid gap-y-4 md:gap-y-16">
                {% if projects %}
                    {% for project in projects %}
                        {% if project.published %}
                            {% if forloop.counter0|divisibleby:2 %}
                                {% include 'website/project/project-card.html' with data=project %}
                            {% else %}
                                {% include 'website/project/project-cardl.html' with data=project %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}