{% load static %}

<a href="/learn/cpp" class="min-h-full">
    <div class="relative min-h-[250px]
     border dark:border-stone-900
     rounded-md backdrop-filter
     backdrop-blur-lg">
        <img src="{% static 'images/blur-bg.jpg' %}" alt="Swift hero card image"
             class="absolute aspect-auto w-full h-[250px] md:h-full rounded-md brightness-75 saturate-150">
        <div class="absolute w-full h-[250px] md:h-full grid place-content-center">
            <div class="bg-white/30 dark:bg-black/30
                    backdrop-filter backdrop-blur-lg
                    drop-shadow-md rounded-3xl p-4
                    text-center flex gap-x-4
                ">
                <div>
                    <img src="{% static 'images/cpp-logo2.png' %}"
                         class="aspect-square max-h-[100px] max-w-[100px] saturate-200"
                         alt="C++ Logo">
                </div>
                <div class="flex-1 text-left">
                    <div class="text-4xl text-white font-extrabold">
                        C++
                    </div>
                    <p class="py-2 max-w-[150px] text-stone-50">C++ learn projects and tutorials page</p>
                </div>
            </div>
        </div>
    </div>
</a>