{% load static %}

<a href="/learn/swift" class="min-w-full">
    <div class="grid place-content-center min-h-[250px] md:min-h-full backdrop-filter bg-white/30 dark:bg-black/80 backdrop-blur-lg">
        <div class="py-10">
            <div class="pb-4 text-center">
                <div class="text-2xl md:text-4xl text-white font-extrabold">
                    Swift
                </div>
                <p class="py-3 max-w-[180px] mx-auto text-stone-50">Swift learn project and tutorials page</p>
            </div>

            <img src="{% static 'images/swift-logo.png' %}"
                 class="aspect-square max-h-[100px] max-w-[100px] md:max-h-[120px] md:max-w-[120px] mx-auto saturate-200"
                 alt="SwiftUI Logo">
        </div>
    </div>
</a>