{% load static %}
{% load website_extras %}

<div class="
{#    border dark:border-stone-500/10 bg-tertiary dark:bg-darkTwo#}
    border dark:border-stone-500/40
{#    bg-tertiary dark:bg-black#}
{#    bg-tertiary dark:bg-[#161619]#}
    rounded-md min-h-[80px] md:min-h-[120px] flex gap-x-3 p-2 mb-2
    group
    break-inside-avoid-column
    "
>
    <div>
        {% if data.no_image %}
            <img src="{{ data.article_series.image.url }}" alt="Article image"
                 class="aspect-square h-[80px] md:h-[110px] md:max-w-[120px] rounded-md">
        {% else %}
            <img src="{{ data.image.url }}" alt="Article image"
                 class="aspect-square h-[80px] md:h-[110px] md:max-w-[120px] rounded-md">
        {% endif %}
    </div>

    <div class="flex-1 flex flex-col justify-between">
        <div class="font-ff">
            <a href="{{ data.get_absolute_url }}">
                <h1 class="text-xl md:text-xl !leading-6 font-bold text-prussianBlue dark:text-stone-300 group-hover:text-bitterSweet"
                    >{{ data.title|headline }}
                </h1>
            </a>
            <p class="hidden lg:block max-w-full lg:max-w-[90%] pt-1 pb-2 text-stone-800 dark:text-stone-400">{{ data.summary|capfirst|truncatechars:70 }}</p>
        </div>
        <div class="flex justify-between items-center">
            <p class="text-sm !font-bold text-bitterSweet">
                <a href="{{ data.article_series.get_absolute_url }}">{{ data.article_series.title|headline }}</a>
            </p>
            <div class="flex gap-1 items-center text-sm">
                <span class="iconify text-stone-500 text-sm font-medium" data-icon="bi:clock-history"></span>
                <p class="text-stone-700 dark:text-stone-500">{{ data.get_read_time }}</p>
            </div>
        </div>
    </div>
</div>