{% load static %}
{% load website_extras %}

<div class="
    hover:scale-105 transition transform duration-300
    border dark:border-stone-500/10
    bg-tertiary dark:bg-darkFour
    rounded-md min-h-[130px]
    grid grid-cols-9 gap-x-4 p-2 mb-2
    text-stone-900 dark:text-stone-200 group
    break-inside-avoid-column
    "
>
    <div class="col-span-3">
        {% if data.no_image %}
            <div class="w-full h-full grid place-content-start">
                <img src="{{ data.article_series.image.url }}" alt="Article image"
                     class="aspect-square max-w-[100px] max-h-[100px] md:max-w-[120px] md:max-h-[120px] rounded-md">
            </div>
        {% else %}
            <img src="{{ data.image.url }}" alt="Article image"
                 class="aspect-square w-full max-h-[130px] rounded-md">
        {% endif %}

    </div>
    <div class="col-span-6 flex flex-col justify-between">
        <div class="">
            <a href="{{ data.get_absolute_url }}">
                <h1 class="
                         text-xl text-prussianBlue
                         dark:text-slate-200
                         font-medium leading-5
                         group-hover:text-bitterSweet"
                >{{ data.title|headline }}
                </h1>
            </a>
            <p class="max-w-full lg:max-w-[90%] py-2 text-stone-800 dark:text-stone-400">{{ data.summary|capfirst|truncatechars:70 }}</p>
        </div>
        <div class="flex justify-between items-center">
            <p class="text-sm text-bitterSweet">
                <a href="{{ data.article_series.get_absolute_url }}">{{ data.article_series.title|headline }}</a>
            </p>
            <div class="flex gap-1 items-center text-sm">
                <span class="iconify text-stone-500 text-sm font-medium" data-icon="bi:clock-history"></span>
                <p class="text-stone-700 dark:text-stone-500">{{ data.get_read_time }}</p>
            </div>
        </div>
    </div>
</div>