{% load static %}
{% load website_extras %}

<div class="
            min-h-[250px] lg:min-h-[300px] w-full
            flex flex-col bg-tertiary
            dark:bg-darkTwo border
            dark:border-stone-500/10
            dark:text-stone-400 rounded-md
            box-content mb-2
            break-inside-avoid-column
            "
>
    {% if data.no_image %}
        {% if data.article_series.title == 'swift' %}
            <div class="w-full h-40 lg:h-52 bg-center bg-cover aspect-[16/9] rounded-t"
                 style="background-image: url({% static 'images/learning-swift.png' %})">
            </div>
        {% else %}
            <div class="w-full h-40 lg:h-52 bg-center bg-cover aspect-[16/9] rounded-t"
                 style="background-image: url({{ data.article_series.image.url }})">
            </div>
        {% endif %}
    {% else %}
        <div class="w-full h-40 lg:h-52 bg-center bg-cover aspect-[16/9] rounded-t"
             style="background-image: url({{ data.image.url }})">
        </div>
    {% endif %}

    <div class="flex-1 flex">
        <div class="
        w-[22%] grid place-content-center
        p-4 font-bold leading-none
        text-gray-800 uppercase
        dark:bg-black/50
        rounded-bl-md backdrop-filter
        backdrop-blur-lg border-r
        dark:border-none"
        >
            <div class="grid w-full place-content-center">
                <p class="text-stone-700 pb-3 dark:text-stone-500 text-center">{{ data.get_read_time }}</p>
                <span class="iconify text-stone-500 text-4xl font-medium" data-icon="bi:clock-history"></span>
            </div>

        </div>
        <div class="flex-1 flex flex-col justify-between px-4 pt-4 pb-2">
            <div class="">
                <h1 class="mb-2 text-xl text-prussianBlue dark:text-stone-400 font-bold leading-none dark:text-neutral-300">
                    <a class="hover:text-bitterSweet"
                       href="{{ data.get_absolute_url }}">{{ data.title|headline }}</a>
                </h1>
                <p class="leading-normal pb-4 hidden lg:block">{{ data.summary|capfirst|truncatechars:50 }}</p>
            </div>
            <div class="flex justify-between">
                <div class="">
                    <a class="hover:text-bitterSweet"
                       href="{{ data.get_absolute_url }}">Read more</a>
                </div>
                <div class="text-bitterSweet font-bold">
                    <a href="{{ data.article_series.get_absolute_url }}">{{ data.article_series.title|title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>