{% load static %}

<div class="min-h-[400px] grid place-content-center border-b dark:border-stone-600/60">
    <div class="text-center py-12">
        <div class="text-5xl text-prussianBlue dark:text-slate-200 font-bold">Projects</div>
        <p class="text-lg font-medium max-w-md mx-auto py-2.5">Projects build and ready for use, using different
            programming languages and frameworks for different platforms and devices</p>
        <img src="{% static 'images/projects-hero.png' %}" alt="" class="max-w-md mx-auto max-h-[200px]">
    </div>
</div>