{% load static %}

<div class="min-h-[200px] rounded-md border-2 border-link/30 ">
    <div class="text-xs text-stone-600 dark:text-stone-400 font-bold -mt-4 ml-2 px-2.5 py-1.5 rounded-xl bg-white dark:bg-darkTwo border border-link/30 max-w-max">
        About the Author
    </div>
    <div class="flex flex-col md:flex-row items-center md:items-start gap-10 p-5">
        <div class="">
            <img src="{% static 'images/avatar.jpg' %}" alt="Author avatar"
                 class="max-w-[120px] max-h-[100px] rounded-3xl ring-2 ring-orange-500/50">
        </div>
        <div class="flex-1 w-full">
            <div class="w-full text-center md:text-left">
                <p class="text-2xl font-nunito font-bold border-b border-dashed border-stone-400/30">Kelvin Ude</p>
                <p class="
                text-left py-5 font-nunito text-base
                text-stone-600 dark:text-stone-300 !antialiased
                first-letter:text-5xl first-letter:font-bold
                first-letter:text-stone-800 first-letter:dark:text-white
                first-letter:mr-3 first-letter:float-left
                ">
                    Creator and designer of Kelvin Projects a
                    <span class="before:block before:absolute before:-inset-1 before:-skew-y-2 before:bg-rose-500 relative inline-block">
                        <span class="relative text-white font-bold">software engineer / AGI</span>
                    </span>
                    researcher,
                    I build desktop and mobile applications with different languages and frameworks,
                    such as SwiftUI, UIKIT, Qt, PyQt, Dear I'mGUi and more. I also write free articles and tutorials
                    in Swift, C++ and Python.</p>
            </div>
            <div class="w-full flex gap-x-4 justify-center md:justify-end">
                <a href="https://twitter.com/mindmansions" target="_blank">
                    <span class="iconify text-neutral-500/90 text-xl" data-icon="et:twitter"></span>
                </a>
                <a href=""><span class="iconify text-neutral-500/90 text-xl" data-icon="simple-icons:reddit"></span></a>
                <a href="https://youtube.com"
                   target="_blank">
                    <span class="iconify text-neutral-500/90 text-xl"
                          data-icon="fa:youtube"></span>
                </a>
                <a href="https://linkedin.com"
                   target="_blank">
                    <span class="iconify text-neutral-500/90 text-xl"
                          data-icon="fa:linkedin-square"></span>
                </a>
            </div>
        </div>
    </div>
</div>