{% load static %}

<div class="min-h-[500px] grid gap-4 md:gap-0">
    <div>
        {% for lang in langs %}
            {% if lang.title == 'swift' %}
                {% include 'website/learn/learn-hero-card-big.html' with lang_series=lang%}
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-0">
        {% for lang in langs %}
            {% if lang.title != 'swift' %}
                {% include 'website/learn/learn-hero-card-small.html' with  lang_series=lang%}
            {% endif %}
        {% endfor %}
    </div>
</div>