{% load static %}
{% load website_extras %}

<div class="flex flex-col min-h-[450px] justify-between border-b dark:border-none">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-full md:col-span-6 lg:col-span-5">
            <p class="text-lg font-bold text-stone-500 dark:text-stone-400 pb-2">{{ data.series.title|headline }}</p>
            <h1 class="text-4xl text-prussianBlue dark:text-color-light font-bold">{{ data.title|headline }}</h1>
            <p class="text-lg md:font-medium max-w-md pb-6 pt-5 text-stone-700 dark:text-stone-300">{{ data.summary|capfirst }}</p>
        </div>
        <div class="col-span-full md:col-span-6 lg:col-span-7 flex w-full justify-center md:justify-end">
            {% if data.image.name|startswith:"default" %}
                <img src="{{ data.series.image.url }}" alt="Learning post image"
                 class="aspect-[16/9]] w-full max-h-[250px] md:max-w-[90%] lg:max-w-[75%] md:max-h-[200px] lg:max-h-[250px] rounded-sm">
            {% else %}
                <img src="{{ data.image.url }}" alt="Learning post image"
                     class="aspect-[16/9]] w-full max-h-[250px] md:max-w-[90%] lg:max-w-[75%] md:max-h-[200px] lg:max-h-[250px] rounded-sm">
            {% endif %}
        </div>
    </div>
    <div class="flex flex-col md:flex-row gap-8 md:gap-8 pb-4 pt-10 min-h-[50px] items-center md:items-start justify-between">
        <div class="flex gap-4 md:gap-8 min-h-[50px] items-start">
            <div class="font-bold text-link">
                Kelvin Ude
            </div>
            <div class="dark:text-color-light text-sm">
                Published: <p
                    class="text-sm md:text-lg font-medium text-prussianBlue dark:text-stone-400">{{ data.published_date|date }}</p>
            </div>
            <div class="dark:text-color-light text-sm">
                Updated: <p
                    class="text-sm md:text-lg font-medium text-prussianBlue dark:text-stone-400">{{ data.updated_date|date }}</p>
            </div>
        </div>
        <div class="min-h-full flex gap-4 md:gap-5">
            <div class="text-3xl font-medium text-prussianBlue dark:text-stone-400">
                {{ data|learnTime|slice:":1" }}<span class="text-xl">min</span>
            </div>
            <div class="min-h-full flex gap-2 text-stone-500 dark:text-stone-400 items-center">
                <a
                    href="https://twitter.com/intent/tweet?text=https://kelvinprojects.pythonanywhere.com{{ data.get_absolute_url }}"
                    data-size="large"
                    target="_blank" class="twitter-share-button"
                    >
                    <span class="iconify text-2xl hover:text-bitterSweet" data-icon="et:twitter"></span>
                </a>
                <a href=""><span class="iconify bg-black/5 text-2xl" data-icon="simple-icons:reddit"></span></a>
            </div>
        </div>
    </div>
</div>