{% if swift %}
    <div>
        <div class="text-center max-w-md mx-auto pb-5">
            <div class="text-4xl font-bold font-nunito pb-2">Learning</div>
            <p class="px-3 md:px-0 text-lg">Learning Projects and tutorials series written in different language and frameworks.</p>
        </div>
        <div class="min-h-[300px] lg:border border-stone-500/10 dark:border-stone-900 lg:rounded-md lg:p-3 flex flex-col gap-y-4">
            {% for k, data in swift.items %}
                {% include 'website/learn/learn-card-swift.html' with lseries=data series=k %}
            {% endfor %}
            {% for k, data in python.items %}
                {% include 'website/learn/learn-card-left.html' with lseries=data series=k %}
            {% endfor %}

        </div>
        <div class="w-full flex justify-end mt-2">
            <a href="{% url 'website:learn-view' %}" class="text-sm text-emerald-500">view more</a>
        </div>
    </div>
{% endif %}